<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list id="images">
    <!-- a for loop to go through all the posts, except instead of 'posts', we subscribe to the data stream
      the ? stops it from crashings, because it only does it if there are posts -->
    <ion-item class="image" *ngFor="let post of (userPosts | async)?.posts">
      <ion-thumbnail slot="start">
        <ion-img [src]="getImgSrc(post.uploadedImage)" ></ion-img>
      </ion-thumbnail>
      <ion-label>{{post.imageDescription}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>